page-home2 {

 
}

.large_button {
  line-height: 20vh ;
  width: 50%;
}
.small_button{
  line-height: 5px ;
  min-height: 24px ;
}


.saveButton1 {

  position: relative;
  top: 250px;
  left: 85px;
}

.saveButton2 {
  position: relative;
  top: 300px;
  left: 85px;
}
