page-home2{
  background-color: $backgroundPurple

}

.large_button {
  line-height: 20vh ;

}

.button-small{
  line-height: 45px ;
  min-height: 24px ;
  text-transform: lowercase;
  text-transform: capitalize;
  background-color: #664ba8;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;


  color: white;
  align-items: center !important;
  width: 70% !important;

}

.small_button:hover{
  background-color: #664ba8 !important;
}

.button1 {

  position: relative;
  top: 115px;
  left: 15%; /*(100%-60%)/2*/

}

.button2{
  position: relative;
  top: 165px;
  left: 15%; /*(100%-60%)/2*/

}




