page-settings-page {
  .user-name-data {
    background: map_get($colors, primary);
    height: 18vh;

    ion-label, ion-icon {
      color: map_get($colors, SofiaAppWhite);
    }

    .icon-container {
      display: flex;
    }

    .data-container {
      margin: auto;
    }

    .name-info {
      font-weight: bold;
    }

    .name-info, .username-info {
      margin: 0;
    }
  }

  .settings-item {
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);


    ion-label, .icon-container ion-icon {
      color: map_get($colors, primary);
    }

    .text-container, .icon-container, .toggle-container {
      display: flex;
    }

    .text-container ion-label {
      margin: 0 0 0 3vw;
      font-weight: bold;
    }

    .toggle-container{
      margin-right: 5vw;
    }

    .icon-container ion-icon {
      margin: 0 3vw 0 0;
    }
  }

  page-contact-selection {
    width: 100%;

    ion-grid > ion-row:first-child, ion-grid > ion-row:last-child {
      display: none;
    }

    ion-content {
      background: map_get($colors, primary) !important;
    }

    ion-grid > ion-row:nth-child(4) {
      margin: 0 !important;
    }
  }

  .pin-change-settings {
    background: map_get($colors, primary) !important;

    ion-label, ion-input {
      color: map_get($colors, SofiaAppWhite);
    }

    .instruction-text {
      margin: 0;
      padding: 5% 5% 0;
      font-weight: bold;
    }

    .pin-input {
      font-weight: bold;
      border-bottom: 2px solid white;
      margin: 0 30vw 5vh;
      display: inline-block;
      width: 40vw;
    }

    input {
      margin: 10px 8px 5px 8px;
      letter-spacing: 5px;
    }
  }

  .text-input::-moz-placeholder {
    color: rgba(242, 242, 242, 0.5);
  }

  .text-input:-ms-input-placeholder {
    color: rgba(242, 242, 242, 0.5);
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgba(242, 242, 242, 0.5);
  }

  .profile-settings {
    background: map_get($colors, primary) !important;

    ion-icon, ion-input {
      color: map_get($colors, SofiaAppWhite);
    }

    >ion-col {
      margin-bottom: 3vh;
    }

    > ion-col > ion-row {
      height: 10vh;
      width: 90vw;
      margin: auto;
      border-bottom: 1px solid rgba(242, 242, 242, 0.5);
    }

    .icon-container {
      display: flex;
      align-items: flex-end;
    }

    ion-icon::before {
      font-weight: bold;
    }
  }

  @media (max-width: 479px) {
    .user-name-data {
      min-height: 85px;
      ion-icon {
        font-size: 53px;
      }
    }

    .user-name-data .name-info,
    .settings-item .text-container ion-label {
      font-size: 16px;
    }

    .user-name-data .username-info,
    .settings-item .icon-container > ion-icon,
    .profile-settings .profile-input {
      font-size: 15px;
    }

    page-contact-selection {
      height: 215px;

      ion-grid > ion-row {
        margin: 0 0 20px !important;
      }
    }

    .pin-change-settings {
      .instruction-text {
        font-size: 12px;
      }

      .pin-input {
        font-size: 17px;
      }
    }

    .settings-item,
    .profile-settings > ion-col > ion-row{
      min-height: 50px;
    }

    .profile-settings {
      ion-icon {
        font-size: 30px;
      }

      .profile-input input {
        margin: 4vh 2vw 0;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .user-name-data {
      min-height: 150px;
      ion-icon {
        font-size: 78px;
      }
    }

    .user-name-data .name-info,
    .settings-item .text-container ion-label {
      font-size: 26px;
    }

    .user-name-data .username-info,
    .settings-item .icon-container > ion-icon,
    .profile-settings .profile-input {
      font-size: 22px;
    }

    page-contact-selection {
      height: 280px;

      ion-grid > ion-row {
        margin: 0 0 28px !important;
      }
    }

    .pin-change-settings {
      .instruction-text {
        font-size: 18px;
      }

      .pin-input {
        font-size: 26px;
      }
    }

    .settings-item,
    .profile-settings > ion-col > ion-row{
      min-height: 85px;
    }

    .profile-settings {
      ion-icon {
        font-size: 46px;
      }

      .profile-input input {
        margin: 5vh 2vw 0;
      }
    }
  }

  @media (min-width: 768px) {
    .user-name-data {
      min-height: 185px;
      ion-icon {
        font-size: 85px;
      }
    }

    .user-name-data .name-info {
      font-size: 29px;
    }

    .user-name-data .username-info,
    .settings-item .text-container ion-label,
    .settings-item .icon-container > ion-icon,
    .profile-settings .profile-input {
      font-size: 24px;
    }

    page-contact-selection {
      height: 335px;

      ion-grid > ion-row {
        margin: 0 0 36px !important;
      }
    }

    .pin-change-settings {
      .instruction-text {
        font-size: 20px;
      }

      .pin-input {
        font-size: 29px;
      }
    }

    .settings-item,
    .profile-settings > ion-col > ion-row{
      min-height: 105px;
    }

    .profile-settings {
      ion-icon {
        font-size: 51px;
      }

      .profile-input input {
        margin: 6vh 2vw 0;
      }
    }
  }
}
