<ion-header mode="ios">
  <ion-navbar hideBackButton text-right>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
    <label class="header-title">Configuración</label>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>

<ion-content no-bounce>
  <ion-grid no-padding>
    <ion-row class="user-name-data">
      <ion-col width-20 class="icon-container justify-center-row center-vertically">
        <ion-icon name="icon-girl"></ion-icon>
      </ion-col>
      <ion-col width-80 class="data-container">
        <div class="data-container-labels">
          <ion-label class="name-info">
            {{usernameInfo}}
          </ion-label>
          <ion-label class="username-info">
            {{nameInfo}}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <div>
      <ion-row class="settings-item" (click)="toggleisShowingOptions(0)">
        <ion-col width-80 class="text-container center-vertically">
          <ion-label>
            Contactos
          </ion-label>
        </ion-col>
        <ion-col width-20 class="icon-container justify-center-row center-vertically">
          <ion-icon [name]="arrowIconArray[0]"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="contact-settings" *ngIf="isOptionVisible[0]">
        <page-contact-selection></page-contact-selection>
      </ion-row>
    </div>
    <div>
      <ion-row class="settings-item" (click)="toggleisShowingOptions(1)">
        <ion-col width-80 class="text-container center-vertically">
          <ion-label>
            Cambiar PIN
          </ion-label>
        </ion-col>
        <ion-col width-20 class="icon-container justify-center-row center-vertically">
          <ion-icon [name]="arrowIconArray[1]"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="pin-change-settings" *ngIf="isOptionVisible[1]">
        <p>
          Cambiar PIN
        </p>
      </ion-row>
    </div>
    <div>
      <ion-row class="settings-item">
        <ion-col class="text-container center-vertically">
          <ion-label>
            Modo Seguro
          </ion-label>
        </ion-col>
        <ion-col class="toggle-container center-vertically justify-horizontally-right">
          <ion-toggle mode="ios" [(ngModel)]="safeMode"></ion-toggle>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-row class="settings-item" (click)="toggleisShowingOptions(2)">
        <ion-col width-80 class="text-container center-vertically">
          <ion-label>
            Perfil
          </ion-label>
        </ion-col>
        <ion-col width-20 class="icon-container justify-center-row center-vertically">
          <ion-icon [name]="arrowIconArray[2]"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="profile-settings" *ngIf="isOptionVisible[2]">
        <p>
          Perfil
        </p>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
