page-settings-page {
  .user-name-data {
    background: map_get($colors, primary);
    height: 18vh;

    ion-label, ion-icon {
      color: map_get($colors, SofiaAppWhite);
    }

    .icon-container {
      display: flex;
    }

    .data-container {
      margin: auto;
    }

    .name-info {
      font-weight: bold;
    }

    .name-info, .username-info {
      margin: 0;
    }
  }

  .settings-item {
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);


    ion-label, .icon-container ion-icon {
      color: map_get($colors, primary);
    }

    .text-container, .icon-container, .toggle-container {
      display: flex;
    }

    .text-container ion-label {
      margin: 0 0 0 2vw;
      font-weight: bold;
    }

    .toggle-container{
      margin-right: 5vw;
    }
  }

  page-contact-selection {
    width: 100%;

    ion-grid > ion-row:first-child, ion-grid > ion-row:last-child {
      display: none;
    }

    ion-content {
      background: map_get($colors, primary) !important;
    }

    ion-grid > ion-row:nth-child(4) {
      margin: 0 !important;
    }
  }

  @media (max-width: 479px) {
    .user-name-data {
      ion-icon {
        font-size: 53px;
      }
    }

    .user-name-data .name-info,
    .settings-item .text-container ion-label {
      font-size: 16px;
    }

    .user-name-data .username-info,
    .settings-item .icon-container > ion-icon {
      font-size: 15px;
    }

    page-contact-selection {
      height: 215px;

      ion-grid > ion-row {
        margin: 0 0 20px !important;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .user-name-data {
      ion-icon {
        font-size: 78px;
      }
    }

    .user-name-data .name-info,
    .settings-item .text-container ion-label {
      font-size: 26px;
    }

    .user-name-data .username-info,
    .settings-item .icon-container > ion-icon {
      font-size: 22px;
    }

    page-contact-selection {
      height: 280px;

      ion-grid > ion-row {
        margin: 0 0 28px !important;
      }
    }
  }

  @media (min-width: 768px) {
    .user-name-data {
      ion-icon {
        font-size: 85px;
      }
    }

    .user-name-data .name-info {
      font-size: 29px;
    }

    .user-name-data .username-info,
    .settings-item .text-container ion-label,
    .settings-item .icon-container > ion-icon {
      font-size: 24px;
    }

    page-contact-selection {
      height: 335px;

      ion-grid > ion-row {
        margin: 0 0 36px !important;
      }
    }
  }
}
