page-optional-info-form-page {
  background-color: $backgroundPurple
}

#optional-info-col ion-row{
  margin-top: 10%;
}

#optional-info-register-button-container button{
  width: 100%;
  text-transform: lowercase;
  text-transform: capitalize;
}

.button-section-margin{
  margin-top: 15% !important;
}


