<ion-header mode="ios">
  <ion-navbar hideBackButton text-right>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
    <label class="header-title">Test / Tips y Rutas</label>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>


<ion-content no-bounce class="routes-details-background">
  <ion-grid no-padding>
    <ion-row [class]="subheaderBackgroundColor[attentionRoute.id]">
      <ion-icon class="go-back-icon-margin icon-back" name="icon-fill-back-arrow" (click)="goBackPage()" ></ion-icon>
      <label class="location-name location-title-margin" *ngFor="let label of attentionRoute.labels">{{label}}&nbsp;</label>
    </ion-row>

    <ion-row *ngFor="let routeDetail of routesDetails;" no-padding>
      <ion-col class="left-margin-col" no-padding></ion-col>

      <ion-col class="info-col-container" no-padding>
        <ion-row>
          <ion-col no-padding class="data-col-container">
            <ion-row class="route-title-container">
              <label [class]="nameColor[attentionRoute.id]">{{routeDetail.title}}</label>
            </ion-row>


            <ion-row>
              <ion-col no-padding>
                <ion-row class="info-margin-bottom">
                  <ion-col class="icon-container" no-padding>
                    <ion-icon class="icons-color" name="icon-pin"></ion-icon>
                  </ion-col>
                  <ion-col no-padding>
                    <ion-row>
                      <label class="info-labels">{{routeDetail.address}}</label>
                    </ion-row>
                    <ion-row>
                      <label class="info-labels">{{routeDetail.neighbourhood}}</label>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row class="info-margin-bottom">
                  <ion-col class="icon-container" no-padding>
                    <ion-icon class="icons-color" name="icon-email"></ion-icon>
                  </ion-col>
                  <ion-col no-padding>
                    <ion-row>
                      <label class="info-labels">{{routeDetail.email}}</label>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row class="info-margin-bottom">
                  <ion-col class="icon-container" no-padding>
                    <ion-icon class="icons-color" name="icon-clock"></ion-icon>
                  </ion-col>
                  <ion-col no-padding>
                    <ion-row>
                      <label class="info-labels">{{routeDetail.schedule}}</label>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row class="phone-info-margin-bottom">
                  <ion-col class="icon-container" no-padding>
                    <ion-icon class="icons-color" name="icon-phone"></ion-icon>
                  </ion-col>
                  <ion-col no-padding>
                    <ion-row>
                      <label class="info-labels">{{routeDetail.phone}}</label>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="vertical-separator" no-padding></ion-col>
            </ion-row>




          </ion-col>



          <ion-col no-padding style="background-color: red;">

          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="right-margin-col" no-padding></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
