page-routes-details {
  label {
    margin: 0;
  }

  .section-header {
    flex: 1;
    align-items: center;
    text-align: center;

    .title {
      font-weight: bold;
      color: #f2f2f2;
      margin-bottom: 5px;
    }
  }

  .icon-back{
   color: white;
  }

  .location-name{
    color: map_get($colors,SofiaAppWhite);
  }

  .background-subheader-option-0{
    background-color: #64a53c;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .background-subheader-option-1{
    background-color: #4c904c;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .background-subheader-option-2{
    background-color: #3f8654;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .background-subheader-option-3{
    background-color: #1b676b;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .color-0{
    color: #64a53c;
  }

  .color-1{
    color: #4c904c;
  }

  .color-2{
    color: #3f8654;
  }

  .color-3{
      color: #1b676b;
  }

  [class^="background-subheader-option"] {
    align-items: center;
  }

  .routes-details-background{
    background-color: map_get($colors,SofiaAppBeige);
  }

  .info-labels{
    color: map_get($colors,SofiaAppGrayFont);
  }

  .icons-color{
    color: map_get($colors,SofiaAppGrayFont);
  }

  .icon-container{
    display: flex;
    align-items: center;
  }

  .info-col-container{
    border-bottom: 1px solid map_get($colors,SofiaAppGrayFont);
  }

  .vertical-separator{
    background-color: map_get($colors,SofiaAppGrayFont);
    flex-basis: 1px !important;
    max-width: 1px !important;
  }

  .icon-download-size{
    color: #8A8A8A;
  }

  .download-col-container{
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }

  .download-col-container ion-row{
    justify-content: center;
  }

  .download-labels{
    font-style: italic;
  }

  @media (max-width: 479px) {
    [class^="background-subheader-option-"] {
      height: 50px;
    }

    .location-name{
      font-size: 14px;
    }

    .go-back-icon-margin{
      margin-left: 20px;
      margin-right: 17px;
    }

    .location-row-margin{
      margin-left: 35px;
    }

    .icon-back{
      font-size: 20px;
    }

    .route-name-row{
      margin: 17px 93px 14px 36px;
    }

    [class^="color-"] {
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
    }

    .right-margin-col{
      flex-basis: 20px;
      max-width: 20px;
    }

    .left-margin-col{
      flex-basis: 36px;
      max-width: 36px;
    }

    .info-margin-bottom{
      margin-bottom: 14px;
    }

    .phone-info-margin-bottom{
      margin-bottom: 28px;
    }

    .data-col-container{
      flex-basis: 195px;
      max-width: 195px;
    }

    .route-title-container{
      margin: 17px 0 14px;
    }

    .info-labels{
      font-size: 12px;
    }

    .icon-container{
      flex-basis: 21px;
      max-width: 21px;
    }

    .vertical-separator{
      height: 122px;
    }

    .pin-icon-size{
      font-size: 18px;
    }

    .email-icon-size{
      font-size: 15px !important;
    }

    .clock-icon-size{
      font-size: 14px !important;
    }

    .phone-icon-size{
      font-size: 16px !important;
    }

    .download-labels{
      font-size: 10px;
    }

    .download-col-container{
      padding-top: 30px;
    }

    .download-labels-margin{
      margin-top: 4px !important;
    }

    .icon-download-size{
      font-size: 27px !important;
    }

  }

  @media (min-width: 480px) and (max-width: 767px) {
    [class^="background-subheader-option-"] {
      height: 75px;
    }

    .location-name{
      font-size: 22px;
    }

    .go-back-icon-margin{
      margin-left: 30px;
      margin-right: 17px;
    }

    .location-row-margin{
      margin-left: 56px;
    }

    .icon-back{
      font-size: 30px;
    }

    .route-name-row{
      margin: 17px 137px 22px 56px;
    }

    [class^="color-"] {
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
    }

    .right-margin-col{
      flex-basis: 30px;
      max-width: 30px;
    }

    .left-margin-col{
      flex-basis: 56px;
      max-width: 56px;
    }

    .info-margin-bottom{
      margin-bottom: 22px;
    }

    .phone-info-margin-bottom{
      margin-bottom: 44px;
    }

    .data-col-container{
      flex-basis: 287px;
      max-width: 287px;
    }

    .route-title-container{
      margin: 17px 0 22px;
    }

    .info-labels{
      font-size: 17px;
    }

    .icon-container{
      flex-basis: 32px;
      max-width: 32px;
    }

    .vertical-separator{
      height: 184px;
    }

    .pin-icon-size{
      font-size: 24px;
    }

    .email-icon-size{
      font-size: 21px !important;
    }

    .clock-icon-size{
      font-size: 19px !important;
    }

    .phone-icon-size{
      font-size: 22px !important;
    }

    .download-labels{
      font-size: 15px;
    }

    .download-labels-margin{
      margin-top: 4px !important;
    }

    .icon-download-size{
      font-size: 40px !important;
    }

  }

  @media (min-width: 768px) {
    [class^="background-subheader-option-"] {
      height: 90px;
    }

    .location-name{
      font-size: 26px;
    }

    .go-back-icon-margin{
      margin-left: 30px;
      margin-right: 37px;
    }

    .location-row-margin{
      margin-left: 70px;
    }

    .icon-back{
      font-size: 35px;
    }

    .route-name-row{
      margin-left: 1px;
      margin-right: 1px;
    }

    .route-name-row{
      margin: 34px 137px 26px 56px;
    }

    [class^="color-"] {
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
    }

    .info-margin-bottom{
      margin-bottom: 26px;
    }

    .phone-info-margin-bottom{
      margin-bottom: 54px;
    }

    .info-col-container{
      flex-basis: 472px;
      max-width: 472px;
      border-bottom: 2px solid map_get($colors,SofiaAppGrayFont);
    }

    .data-col-container{
      flex-basis: 347px;
      max-width: 347px;
    }

    .route-title-container{
      margin: 34px 0 26px;
    }

    .info-labels{
      font-size: 17px;
    }

    .icon-container{
      flex-basis: 40px;
      max-width: 40px;
    }

    .vertical-separator{
      height: 222px;
      flex-basis: 2px !important;
      max-width: 2px !important;
    }

    .download-labels{
      font-size: 13px;
    }

    .download-col-container{
      padding-top: 65px;
    }

    .download-labels-margin{
      margin-top: 4px !important;
    }

    .icon-download-size{
      font-size: 45px !important;
    }

    .pin-icon-size{
      font-size: 24px;
    }

    .email-icon-size{
      font-size: 21px !important;
    }

    .clock-icon-size{
      font-size: 19px !important;
    }

    .phone-icon-size{
      font-size: 22px !important;
    }

  }

}
