page-select-category {

  .header {
    .header-title {
      float: right;
      margin: 14px 5px;
      font-size: 17px;
      color: #f2f2f2;
      font-weight: bold;
    }

  }

  .content {
    background-color: map_get($colors, primary);

    ion-label {
      margin: 0;
    }

    .section-header {
      flex: 1;
      align-items: center;
      text-align: center;

      .title {
        font-size: 19px;
        font-weight: bold;
        color: #f2f2f2;
        margin-bottom: 5px;
      }

      .description {
        font-size: 13px;
        font-weight: 500;
        color: #f2f2f2;
      }
    }

    [class^="option-"] {
      font-size: 17px;
      font-weight: bold;
      color: #f2f2f2;
      align-items: center;
      text-align: center;
      flex: 1;
    }
  }
}
