page-home {
  .logo-container {
    background: url(../assets/img/logo-sofia-app.png) transparent no-repeat center/ 75% auto !important;
    height: 50vh;
  }

  button {
    line-height: 45px ;
    text-transform: capitalize !important;
    border-radius: 5px !important;
    font-weight: bold !important;
  }

  .line-wrapper{
    background-color: map_get($colors, SofiaAppWhite);
    height: 2px;
  }

  .button-container {
    text-align: center;
  }

  @media (max-width: 479px) {
    #required-info-register-button-container {
      button {
        height: 40px;
        font-size: 18px;
        border: 1px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 200px;
      }

      .line-wrapper {
        margin: 6vh auto;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    #required-info-register-button-container {
      button {
        height: 56px;
        font-size: 26px;
        border: 2px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 272px;
      }

      .line-wrapper {
        margin: 5vh auto;
      }
    }
  }

  @media (min-width: 768px) {
    #required-info-register-button-container {
      button {
        height: 70px;
        font-size: 32px;
        border: 2px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 340px;
      }

      .line-wrapper {
        margin: 5.5vh auto;
      }
    }
  }
}



