page-home {
  .sofia-logo {
    color: map_get($colors, SofiaAppWhite);
  }

  button {
    line-height: 45px ;
    text-transform: capitalize;
    border-radius: 5px !important;
    font-weight: bold !important;
  }

  .line-wrapper{
    background-color: map_get($colors, SofiaAppWhite);
    height: 2px;
  }

  .button-container {
    text-align: center;
  }

  @media (max-width: 479px) {
    .sofia-logo {
      font-size: 55px;
      margin: 17vh auto;
    }

    #required-info-register-button-container {
      button {
        height: 40px;
        font-size: 18px;
        border: 1px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 200px;
      }

      .line-wrapper {
        margin: 6vh auto;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .sofia-logo {
      font-size: 85px;
      margin: 21vh auto;
    }

    #required-info-register-button-container {
      button {
        height: 56px;
        font-size: 26px;
        border: 2px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 272px;
      }

      .line-wrapper {
        margin: 5vh auto;
      }
    }
  }

  @media (min-width: 768px) {
    .sofia-logo {
      font-size: 110px;
      margin: 18vh auto;
    }

    #required-info-register-button-container {
      button {
        height: 70px;
        font-size: 32px;
        border: 2px solid map_get($colors, SofiaAppWhite) !important;
      }

      button, .line-wrapper {
        width: 340px;
      }

      .line-wrapper {
        margin: 5.5vh auto;
      }
    }
  }
}



