page-menu {

}

.option-menu-row{
 background-color: #5393cd;
  border-bottom: solid 1px white;
}

.special-menu-row{
  background-color: #d85662;
}

.menu-option-label{
  text-align: center;
  color: #f2f2f2;
}

.align-center-row-container{
  align-self: center;
}
