<ion-content>
  <ion-grid class="full-height-ion-grid no-padding">

    <ion-row *ngFor="let menuOption of menuOptions; let id = index" class="flex-1 option-menu-row">
      <ion-col [ngClass]="{'offset-33 custom-width-33  column-center-content-horizontally': !menuOption.isShowingHint, 'custom-width-50 display-flex':menuOption.isShowingHint}">

        <div (click)="menuOption.goPage()" *ngIf="!menuOption.isShowingHint">
          <ion-row class="justify-center-row menu-icon-margin-container">
            <img src="{{menuOption.menuIcon}}">
          </ion-row>

          <ion-row class="justify-center-row">
            <ion-label class="menu-option-label">{{menuOption.menuLabel}}</ion-label>
          </ion-row>
        </div>

        <ion-row *ngIf="menuOption.isShowingHint">
          <ion-col width-80>
            <ion-col (click)="menuOption.goPage()" class="column-center-content-horizontally">
              <img src="{{menuOption.menuIcon}}">
            </ion-col>

            <ion-col class="justify-center-row column-center-content-horizontally">
              <ion-label class="menu-option-label">{{menuOption.menuLabel}}</ion-label>
            </ion-col>
          </ion-col>

          <ion-col width-20 class="display-flex center-vertically justify-horizontally-right">
            <img (click)="toggleisShowingHintParameter(id)" src="../../assets/img/menu-icons/Atras-10.png">
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col [ngClass]="{'custom-width-33 display-flex center-vertically justify-horizontally-right column-arrow-show-tip-right-padding': !menuOption.isShowingHint, 'custom-width-50 tip-container-color column-center-content-horizontally':menuOption.isShowingHint}">
        <img *ngIf="!menuOption.isShowingHint" (click)="toggleisShowingHintParameter(id)"
             src="../../assets/img/menu-icons/Flecha_Pictograma.png">
        <ion-label *ngIf="menuOption.isShowingHint" text-wrap class="wrap-text-override center-menu-tip-text">
          {{menuOption.menuHint}}
        </ion-label>
      </ion-col>
    </ion-row>


    <ion-row class="flex-1 special-menu-row">

    </ion-row>

  </ion-grid>
</ion-content>
