page-menu {

  .scroll-content {
    overflow: hidden;
  }

  .option-menu-row {
    background-color: map_get($colors, primary);
    height: 20vh;
    overflow: hidden;
  }

  .menu-option-label, .truncate-text {
    text-align: center;
    color: map_get($colors, SofiaAppWhite);
    margin: 1.5vh 0 0;
  }

  #option-row {
    display: table;
    height: 100%;
    margin: 0;
    background: transparent;
  }

  #group-icon {
    display: table-cell;
    vertical-align: middle;
  }

  #menu-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    margin: 0 !important;
    background: transparent;
  }

  .menu-arrow-big {
    width: 15vw;
  }

  .menu-arrow-small {
    width: 10vw;
  }

  .item-hint {
    background: map_get($colors, SofiaAppWhite);
    height: 20vh;
  }

  .center-menu-tip-text  {
    display: flex;
    justify-content: center;
  }

  .center-menu-tip-text {
    color: map_get($colors, primary);
  }

  button {
    border-radius: 0 !important;
  }

  .content {
    .special-menu-row {
      background-color: map_get($colors, SofiaAppRedButton);
      height: 20vh;

      .second-line {
        line-height: 120%;
      }

      .button-container {
        height: 80%;
        padding: 0;
      }

      .button-inner, .button-container {
        align-items: center;
        justify-content: center;
      }

      button:nth-child(2) .button-container{
        border-left: 0.6vw solid map_get($colors, SofiaAppWhite);
      }

      button {
        background: transparent;
        margin: 0;
        height: 100%;
        width: 100%;
      }

      .first-line-text ion-label {
        margin: 7px 0 0;
      }

      .icon-container, ion-icon {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .truncate-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 35vw;
  }

  .phone-icon, .mail-icon {
    margin: auto;
  }

  .content {
    .option, .special-menu-row {
      ion-icon {
        color: map_get($colors, SofiaAppWhite);
      }

      .wrap-text-override {
        margin: auto;
      }

      .wrap-text-override ion-label {
        margin: 0;
      }
    }
  }


  @media (max-width: 479px) {
    .content {
      .option, .special-menu-row {
        ion-icon {
          font-size: 38px;
        }

        .mail-icon {
          font-size: 29px;
        }

        #menu-arrow ion-icon {
          font-size: 18px;
        }

        .menu-option-label, .truncate-text {
          font-size: 17px;
        }

        .wrap-text-override {
          font-size: 13px;
        }
      }

      .special-menu-row {
        .icon-container{
          height: 40px;
        }
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .content {
      .option, .special-menu-row {
        ion-icon {
          font-size: 56px;
        }

        .mail-icon {
          font-size: 42px;
        }

        #menu-arrow ion-icon {
          font-size: 32px;
        }

        .menu-option-label, .truncate-text {
          font-size: 26px;
        }

        .wrap-text-override {
          font-size: 18px;
        }
      }

      .special-menu-row {
        .icon-container{
          height: 60px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      .option, .special-menu-row {
        ion-icon {
          font-size: 67px;
        }

        .mail-icon {
          font-size: 50px;
        }

        #menu-arrow ion-icon {
          font-size: 36px;
        }

        .menu-option-label, .truncate-text {
          font-size: 30px;
        }

        .wrap-text-override {
          font-size: 26px;
        }
      }
      .special-menu-row {
        .icon-container{
          height: 70px;
        }
      }
    }
  }
}
