<ion-header mode="ios">
  <ion-navbar hideBackButton text-right>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
    <label class="header-title">Test / Tips y Rutas</label>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>


<ion-content no-bounce [class]="tipsClass">
  <ion-grid no-padding>
    <ion-row class="tips-name">
      <ion-col width-20 class="icon-container" (click)="goBackPage()">
        <ion-icon name="icon-fill-back-arrow"></ion-icon>
      </ion-col>
      <ion-col width-80 class="category-title">
        <ion-label>
          {{categoryTitle}}
        </ion-label>
      </ion-col>
    </ion-row>
    <div *ngFor="let tip of tipsArrayByCategory; let id = index">
      <ion-row class="tips-item tip-item-{{id}}" (click)="toggleisShowingTipParameter(id)">
        <ion-col width-80 class="text-container">
          <ion-label>
            {{tip.title}}
          </ion-label>
        </ion-col>
        <ion-col width-20 class="icon-container">
          <ion-icon [name]="arrowIconArray[id]"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="tip-description" *ngIf="isTipVisible[id]">
        <p>
          {{tip.description}}
        </p>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
