page-tips-page {

  ion-icon, ion-label {
    color: map_get($colors, SofiaAppWhite);
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-label {
    font-weight: bold;
  }

  .tips-name {
    .category-title {
      display: flex;
      align-items: center;
    }

    ion-label {
      margin: auto 11vw;
    }
  }

  .tips-item {
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);

    .text-container {
      display: flex;
      align-items: center;
    }

    ion-label {
      white-space: normal;
      margin: auto 0 auto 11vw;
    }

    button {
      border-radius: 0;
      background: transparent;
      height: 100%;
      width: 100%;
      margin: 0;
      text-align: left;
    }
  }

  .tip-item-0 {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .tip-description {
    background: map_get($colors, SofiaAppBeige);

    .title-2, .title-3 {
      white-space: normal;
    }

    .title-2 {
      color: map_get($colors, SofiaAppTipsTitle2);
      font-weight: bold;
      border-bottom: 2px solid map_get($colors, SofiaAppTipsTitle2);
      padding-bottom: 1vh;
    }

    .title-3, p {
      color: map_get($colors, SofiaAppGrayFont);
    }

    .title-3 {
      font-weight: normal;
      font-style: italic;
    }

    p {
      margin: 0;
    }
  }

  .economic-violence-style {

    background: $economicViolenceTips;

    .tips-name {
      background: $economicViolenceTitleBackground;
    }

    .tips-item {
      background: $economicViolenceTips;
    }
  }

  .physical-violence-style {

    background: $physicalViolenceTips;

    .tips-name {
      background: $physicalViolenceTitleBackground;
    }

    .tips-item {
      background: $physicalViolenceTips;
    }
  }

  .psychological-violence-style {

    background: $psychologicalViolenceTips;

    .tips-name {
      background: $psychologicalViolenceTitleBackground;
    }

    .tips-item {
      background: $psychologicalViolenceTips;
    }
  }

  .sexual-violence-style {

    background: $sexualViolenceTips;

    .tips-name {
      background: $sexualViolenceTitleBackground;
    }

    .tips-item {
      background: $sexualViolenceTips;
    }
  }

  @media (max-width: 479px) {
    .tips-name {
      height: 12vh;

      ion-label {
        font-size: 14px;
      }
    }

    .tips-item {
      height: 19vh;

      ion-label {
        font-size: 16px;
        max-width: 54vw;
      }
    }

    .tip-description .title-3, ion-icon {
      font-size: 15px !important;
    }

    .tip-description {
      > ion-col {
        max-width: 252px;
        margin: 17px auto;
      }

      .title-2, .title-3 {
        margin: 0 0 17px;
      }

      .title-2 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .tips-name {
      height: 9vh;

      ion-label {
        font-size: 22px;
      }
    }

    .tips-item {
      height: 15vh;

      ion-label {
        font-size: 24px;
        max-width: 52vw;
      }
    }

    ion-icon {
      font-size: 25px !important;
    }

    .tip-description {
      > ion-col {
        max-width: 368px;
        margin: 13px auto;
      }

      .title-2, .title-3 {
        margin: 0 0 25px;
      }

      .title-2 {
        font-size: 22px;
      }

      .title-3 {
        font-size: 18px;
      }

      p {
        font-size: 17px;
      }
    }
  }

  @media (min-width: 768px) {
    .tips-name {
      height: 9vh;

      ion-label {
        font-size: 26px;
      }
    }

    .tips-item {
      height: 16vh;

      ion-label {
        font-size: 29px;
        max-width: 40vw;
      }
    }

    .tip-description .title-2, ion-icon {
      font-size: 30px !important;
    }

    .tip-description {
      > ion-col {
        max-width: 583px;
        margin: 35px auto;
      }

      .title-2, .title-3 {
        margin: 0 0 40px;
      }

      .title-3 {
        font-size: 26px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}
