page-welcome-test {

  .scroll-content {
    overflow: hidden;
  }

  .content-blue {
    background-color: map_get($colors, primary);
  }

  label, p, button{
    color: map_get($colors, SofiaAppWhite);
  }

  ion-label {
    overflow: visible;
  }

  .test-info-section {
    height: 49vh;
    align-items: center;
    justify-content: center;
  }

  .custom-header {
    height: 50px;
    width: 100%;
    background-color: #5393cd;
  }

  .button-container {
    height: 21vh;
    background: map_get($colors, SofiaAppDarkBlue);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .welcome-test-button-section:first-child button .button-items,
  .welcome-test-button-section:nth-child(2) button .button-items {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .welcome-test-button-section button,
  .purple-line-container button {
    background: transparent;
    display: block;
    padding: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }

  .welcome-test-button-section {
    padding: 0;
    width: 33.3333vw;
    display: flex;
    align-items: center;
    height: 100%;

    button {
      height: 100%;
    }

    .button-inner .button-items {
      padding: 0;
      height: 80%;
      align-items: center;
    }

    ion-label, .icon-col {
      width: 100%;
    }

    .first-phrase {
      margin: 2vh 0 0.5vh;
    }

    .second-phrase {
      margin: 0.5vh 0;
    }
  }

  .purple-line-container {
    height: 21vh;
    background: map_get($colors, backgroundPurple);

    ion-col {
      padding: 0;
    }

    .purple-button-container {
      height: 100%;
    }

    .first-phrase {
      margin: 1vh 0;
    }

    .second-phrase {
      margin: 0;
    }
  }


  @media (max-width: 479px) {
    .test-info-section p {
      font-size: 16px !important;
    }

    .welcome-test-button-section button,
    .purple-line-container .first-phrase {
      font-size: 13px;
    }

    .purple-line-container .second-phrase {
      font-size: 10px;
    }

    .welcome-test-button-section .icon-col {
      font-size: 25px;
    }

    .purple-line-container .icon-col {
      font-size: 27px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .test-info-section p {
      font-size: 24px !important;
    }

    .welcome-test-button-section button,
    .purple-line-container .first-phrase {
      font-size: 20px;
    }

    .purple-line-container .second-phrase {
      font-size: 15px;
    }

    .welcome-test-button-section .icon-col {
      font-size: 38px;
    }

    .purple-line-container .icon-col {
      font-size: 40px;
    }
  }

  @media (min-width: 768px) {
    .test-info-section p {
      font-size: 28px !important;
    }

    .welcome-test-button-section button,
    .purple-line-container .first-phrase {
      font-size: 24px;
    }

    .purple-line-container .second-phrase {
      font-size: 18px;
    }

    .welcome-test-button-section .icon-col {
      font-size: 48px;
    }

    .purple-line-container .icon-col {
      font-size: 50px;
    }

  }
}
