<ion-header mode="ios">
  <ion-navbar hideBackButton text-right>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
    <label class="header-title">Información</label>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>

<ion-content no-bounce>
  <ion-grid class="height-100" no-padding>
    <ion-row class="section-header">
      <ion-col>
        <ion-label class="title">¿Qué deseas saber?</ion-label>
        <ion-label class="description">Por favor selecciona</ion-label>
        <ion-label class="description">una categoría</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let category of infoCategories;" (click)="beginTest(category.id)" [class]="category.class">
      <ion-col>
        <ion-label *ngFor="let label of category.labels">{{label}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
