page-select-info-category {
  .content {
    background-color: map_get($colors, primary);

    ion-label {
      margin: 0;
    }

    .section-header {
      flex: 1;
      align-items: center;
      text-align: center;

      .title {
        font-weight: bold;
        color: #f2f2f2;
        margin-bottom: 5px;
      }

      .description {
        font-weight: bold;
        color: #f2f2f2;
      }
    }

    [class^="option-"] {
      font-weight: bold;
      color: #f2f2f2;
      align-items: center;
      text-align: center;
      flex: 1;
    }
  }

  .option-0 {
    background-color: #533699;
  }

  .option-1 {
    background-color: #664ba7;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .option-2 {
    background-color: #4d5aa0;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .option-3 {
    background-color: #346999;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  @media (max-width: 479px) {
    .content {
      .section-header {
        .title {
          font-size: 19px;
        }

        .description {
          font-size: 13px;
        }
      }

      [class^="option-"] {
        font-size: 17px;
      }
    }

    .icon-col{
      flex-basis: 34px;
      max-width: 34px;
    }

    .margin-col{
      flex-basis: 34px;
      max-width: 34px;
    }

    .labels-col{
      flex-basis: 160px;
      max-width: 160px;
    }

  }

  @media (min-width: 480px) and (max-width: 767px) {
    .content {
      .section-header {
        .title {
          font-size: 28px;
        }

        .description {
          font-size: 20px;
        }
      }

      [class^="option-"] {
        font-size: 26px;
      }
    }

    .icon-col{
      flex-basis: 50px;
      max-width: 50px;
    }

    .margin-col{
      flex-basis: 50px;
      max-width: 50px;
    }

    .labels-col{
      flex-basis: 240px;
      max-width: 240px;
    }
  }

  @media (min-width: 768px) {
    .content {
      .section-header {
        .title {
          font-size: 33px;
        }

        .description {
          font-size: 24px;
        }
      }

      [class^="option-"] {
        font-size: 31px;
      }
    }

    .icon-col{
      flex-basis: 62px;
      max-width: 62px;
    }

    .margin-col{
      flex-basis: 62px;
      max-width: 62px;
    }

    .labels-col{
      flex-basis: 295px;
      max-width: 295px;
    }

  }
}
