<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="menu"></ion-icon>
    </button>

    <label class="header-title">Test / Tips y Rutas</label>
  </ion-navbar>
</ion-header>


<ion-content no-bounce [class]="backgroundColor[attentionRoute.id]">
  <ion-grid no-padding>
    <ion-row [class]="subheaderBackgroundColor[attentionRoute.id]">
      <ion-icon class="go-back-icon-margin icon-back" name="icon-fill-back-arrow" (click)="goBackPage()" ></ion-icon>
      <label class="location-name" *ngFor="let label of attentionRoute.labels">{{label}}&nbsp;</label>
    </ion-row>
    <ion-row class="location-row" *ngFor="let location of locations; let id = index" (click)="goToRouteDetail(id)">
      <ion-col class="location-row-margin">
        <ion-row>
          <label class="location-label">Localidad</label>
        </ion-row>
        <ion-row>
          <label class="location-name">{{location}}</label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
