<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="menu"></ion-icon>
    </button>

    <label class="header-title">Test / Tips y Rutas</label>
  </ion-navbar>
</ion-header>


<ion-content no-bounce [class]="backgroundColor[attentionRoute.id]">
  <ion-grid no-padding>
    <ion-row [class]="subheaderBacgroundColor[attentionRoute.id]">
      <label *ngFor="let label of attentionRoute.labels">{{label}}&nbsp;</label>
    </ion-row>
    <ion-row class="location-row" *ngFor="let location of locations">
      <ion-col>
        <ion-row>
          <label>Localidad</label>
        </ion-row>
        <ion-row>
          <label>{{location}}</label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
