page-attention-routes-location {
  .header {
    .header-title {
      float: right;
      margin: 14px 5px;
      font-size: 17px;
      color: #f2f2f2;
      font-weight: bold;
    }
  }

  ion-label {
    margin: 0;
  }

  .section-header {
    flex: 1;
    align-items: center;
    text-align: center;

    .title {
      font-weight: bold;
      color: #f2f2f2;
      margin-bottom: 5px;
    }
  }


  .select-location-sub-header{

  }


  @media (max-width: 479px) {
    .select-location-sub-header{
      height: 50px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .select-location-sub-header{

    }
  }

  @media (min-width: 768px) {
    .select-location-sub-header{

    }
  }

}
