page-attention-routes-location {
  .header {
    .header-title {
      float: right;
      margin: 14px 5px;
      font-size: 17px;
      color: #f2f2f2;
      font-weight: bold;
    }
  }

  label {
    margin: 0;
    color: map_get($colors,SofiaAppWhite);
  }

  .section-header {
    flex: 1;
    align-items: center;
    text-align: center;

    .title {
      font-weight: bold;
      color: #f2f2f2;
      margin-bottom: 5px;
    }
  }

  .location-name{
    font-weight: bold;
  }

  .location-row{
    border-bottom: 1px solid rgba(242,242,242,0.2);
    align-items: center;
  }

  [class^="background-subheader-option"] {
    align-items: center;
  }

  .background-option-0{
    background-color: #518c2f;
  }

  .background-subheader-option-0{
    background-color: #64a53c;
  }

  .background-option-1{
    background-color: #3b753b;
  }

  .background-subheader-option-1{
    background-color: #4c904c;
  }

  .background-option-2{
    background-color: #266146;
  }

  .background-subheader-option-2{
    background-color: #3f8654;
  }

  .background-option-3{
    background-color: #124c4f;
  }

  .background-subheader-option-3{
    background-color: #1b676b;
  }


  @media (max-width: 479px) {
    [class^="background-subheader-option-"] {
      height: 50px;
    }

    .location-row{
      height: 50px;
    }

    .location-name{
      font-size: 14px;
    }

    .location-label{
      font-size: 14px;
    }

    .go-back-icon-margin{
      margin-left: 20px;
      margin-right: 17px;
    }

    .location-row-margin{
      margin-left: 35px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    [class^="background-subheader-option-"] {
      height: 75px;
    }

    .location-row{
      height: 91px;
    }

    .location-name{
      font-size: 22px;
    }

    .location-label{
      font-size: 22px;
    }

    .go-back-icon-margin{
      margin-left: 30px;
      margin-right: 17px;
    }

    .location-row-margin{
      margin-left: 56px;
    }
  }

  @media (min-width: 768px) {
    [class^="background-subheader-option-"] {
      height: 90px;
    }

    .location-row{
      height: 110px;
    }

    .location-name{
      font-size: 26px;
    }

    .location-label{
      font-size: 26px;
    }

    .go-back-icon-margin{
      margin-left: 30px;
      margin-right: 37px;
    }

    .location-row-margin{
      margin-left: 70px;
    }
  }

}
