page-register-optional-info {
  ion-input, button {
    font-weight: bold;
  }

  .label-row{
    margin-top: 30%;
  }

  .email-row, .fullname-row,
  .cellphone-row, .button-row {
    justify-content: center;
  }

  .button-row{
    margin-top: 40px;
  }

  button {
    text-transform: capitalize !important;
    border-radius: 5px !important;
  }

  @media (max-width: 479px) {

    ion-input, button {
      height: 40px !important;
      font-size: 16px;
      border: 1px solid map_get($colors, SofiaAppWhite) !important;
    }

    button{
      width: 125px !important;
    }

    .email-row, .fullname-row,
    .cellphone-row {
      margin-top: 20px;
    }

    .label-register{
      font-size: 13px;
    }

    .input-container{
      flex-basis: 272px !important;
      max-width: 272px !important;
    }

    .button-row{
      margin-top: 40px;
    }

    .login-button{
      margin-left:20px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {

    ion-input, button {
      height: 60px !important;
      font-size: 22px !important;
      border: 2px solid map_get($colors, SofiaAppWhite) !important;
    }

    button{
      width: 170px !important;
      height: 56px !important;
    }

    .email-row, .cellphone-row {
      margin-top: 28px;
    }

    .label-register{
      font-size: 18px;
    }

    .fullname-row{
      margin-top: 30px;
    }

    .input-container{
      flex-basis: 370px !important;
      max-width: 370px !important;
    }

    .button-row{
      margin-top: 56px;
    }

    .login-button{
      margin-left:30px;
    }
  }

  @media (min-width: 768px) {

    ion-input, button {
      height: 70px !important;
      font-size: 27px !important;
      border: 2px solid map_get($colors, SofiaAppWhite) !important;
    }

    button{
      width: 215px !important;
    }

    .email-row, .cellphone-row {
      margin-top: 36px;
    }

    .label-register{
      font-size: 23px;
    }

    .fullname-row{
      margin-top: 30px;
    }

    .input-container{
      flex-basis: 467px !important;
      max-width: 467px !important;
    }

    .button-row{
      margin-top: 72px;
    }

    .login-button{
      margin-left:37px;
    }

    .label-row{
      margin-top: 30% !important;
    }

  }
}


