page-sofia-info {
  ion-content {
    background: map_get($colors, SofiaAppBeige) !important;
  }

  .sofia-info-title {
    background: $sofia-info-title-background;
    height: 11vh;

    ion-label {
      color: map_get($colors, SofiaAppWhite);
      font-weight: bold;
    }
  }

  .sofia-info-content {
    .sofia-info-logo {
      background: url(../assets/img/logo-sofiainfo.png) transparent no-repeat center / auto 90% !important;
    }

    .sofia-info-description {
      margin: auto;
      .title-2, .title-3 {
        white-space: normal;
      }

      ion-col {
        padding: 0;
      }

      .title-2 {
        color: map_get($colors, SofiaAppTipsTitle2);
        font-weight: bold;
        border-bottom: 2px solid map_get($colors, SofiaAppTipsTitle2);
        padding-bottom: 1vh;
      }

      .title-3, p {
        color: map_get($colors, SofiaAppGrayFont);
      }

      .title-3 {
        font-weight: normal;
        font-style: italic;
      }

      p {
        margin: 0;
      }
    }
  }

  @media (max-width: 479px) {
    .sofia-info-title {
      ion-label {
        font-size: 15px;
        margin: auto 35px;
      }
    }

    .sofia-info-content {
      .sofia-info-logo {
        height: 100px;
        margin: 38px 0 40px;
      }

      .sofia-info-description {
        padding: 0 35px;

        .title-2, .title-3, p {
          margin: 0 0 17px;
        }

        .title-2 {
          font-size: 18px;
        }

        .title-3 {
          font-size: 15px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .sofia-info-title {
      ion-label {
        font-size: 22px;
        margin: auto 60px;
      }
    }

    .sofia-info-content {
      .sofia-info-logo {
        height: 130px;
        margin: 20px 0 40px;
      }

      .sofia-info-description {
        padding: 0 60px;

        .title-2, .title-3, p {
          margin: 0 0 25px;
        }

        .title-2 {
          font-size: 22px;
        }

        .title-3 {
          font-size: 18px;
        }

        p {
          font-size: 17px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .sofia-info-title {
      ion-label {
        font-size: 26px;
        margin: auto 80px;
      }
    }

    .sofia-info-content {
      .sofia-info-logo {
        height: 130px;
        margin: 65px 0;
      }

      .sofia-info-description {
        padding: 0 80px;

        .title-2, .title-3, p {
          margin: 0 0 40px;
        }

        .title-2 {
          font-size: 30px;
        }

        .title-3 {
          font-size: 26px;
        }

        p {
          font-size: 24px;
        }
      }
    }
  }
}
