page-tutorial-page {
  background-color: map_get($colors, SofiaAppBeige);

  ion-slides {
    height: 90vh;
  }

  .image-container {
    background-color: map_get($colors, backgroundPurple);
    background-repeat: no-repeat !important;
    background-position: center 105% !important;
    background-size: auto 95%;
  }

  p {
    margin: 0 10vw;
    display: flex;
    align-items: center;
  }

  .button {
    background-color: map_get($colors, SofiaAppRedButton);
    margin: 0;
    height: 10vh;
    font-weight: bold;
  }

  .button-opacity{
    opacity: 0.8;
  }

  .swiper-pagination-bullet {
    background-color: map_get($colors, backgroundPurple);
  }

  @media (max-width: 479px) {
    .image-container {
      height: 60vh;
    }

    p {
      font-size: 13px;
      height: 30vh;
      padding: 0 0 8vh;
    }

    .button {
      font-size: 18px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .image-container {
      height: 70vh;
    }

    p {
      font-size: 16px;
      height: 20vh;
      padding: 0 0 4vh;
    }

    .button {
      font-size: 24px;
    }
  }

  @media (min-width: 768px) {
    .image-container {
      height: 70vh;
    }

    p {
      font-size: 20px;
      height: 20vh;
      padding: 0 0 4vh;
    }

    .button {
      font-size: 28px;
    }
  }

}
