page-tutorial-page {
  background-color: map_get($colors, SofiaAppBeige);

  ion-slides {
    height: 90vh;
  }

  .image-container {
    height: 70vh;
    background-color: map_get($colors, backgroundPurple);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-size: auto 90%;
  }

  p {
    height: 20vh;
    margin: 2vh 10vw;
  }

  .button {
    background-color: map_get($colors, SofiaAppRedButton);
    margin: 0;
    height: 10vh;
  }

  .swiper-pagination-bullet {
    background-color: map_get($colors, backgroundPurple);
  }

  @media (max-width: 479px) {
    p {
      font-size: 15px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {

  }

  @media (min-width: 768px) {

  }

}
