<ion-header mode="ios">
  <ion-navbar hideBackButton>
    <button start ion-button icon-only menuToggle (click)="goBackPage()">
      <ion-icon name="icon-fill-back-arrow"></ion-icon>
    </button>
    <label class="header-title">Test / Tips y Rutas</label>
    <button end ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>

<ion-content no-bounce>
  <ion-grid class="height-100" no-padding>
    <ion-row class="section-header">
      <ion-col>
        <ion-label class="title">Rutas de Atención</ion-label>
        <ion-label class="description">Por favor selecciona</ion-label>
        <ion-label class="description">una categoría</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let route of attentionRoutes;" (click)="goToRoute(route.id)" [class]="route.class" tappable>
      <div class="item-container">
        <ion-icon class="icon-col" name={{route.iconName}}></ion-icon>
        <div class="labels-col">
          <div *ngFor="let label of route.labels;">
            <label>{{label}}</label>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
