page-calculator {
  .display{
    justify-content: flex-end;
    align-items: center;
    background-color: map_get($colors,backgroundPurple);
    padding-right: 10%;
  }

  label{
    color: white;
  }

  button{
    height: 14vh;
    width: 100%;
    background-color: white;
    color: map_get($colors,CalculatorLabels);
    font-weight: bold;
  }

  .three-borders{
    border-top: 1px solid map_get($colors,CalculatorLabels);
    border-right: 1px solid map_get($colors,CalculatorLabels);
    border-left: 1px solid map_get($colors,CalculatorLabels);
  }

  .two-borders{
    border-right: 1px solid map_get($colors,CalculatorLabels);
    border-left: 1px solid map_get($colors,CalculatorLabels);
  }

  .math-button{
    background-color: map_get($colors,CalculatorMathButton);
  }

  .math-button button{
    background-color: map_get($colors,CalculatorMathButton);
    color:white
  }
  .top-border{
    border-top: 1px solid map_get($colors,CalculatorLabels);
  }

  .math-top-border{
    border-top: 1px solid white;
  }

  .CalculatorEqualButton{
    background-color: map_get($colors,CalculatorEqualButton) !important;
  }

  .CalculatorEqualButton button{
    background-color: map_get($colors,CalculatorEqualButton) !important;
    color: white !important;
  }

  .display-division-container{
    background-color: map_get($colors,backgroundPurple);
  }

  .display-division{
    height: 1px;
    width: 100%;
    background-color: map_get($colors,CalculatorDisplayBorder);
    margin-left: 10%;
    margin-right: 10%;
  }

  .result{
    font-weight: bold;
  }

  @media (max-width: 479px) {
    .equation{
      font-size: 25px;
    }

    .result{
      font-size: 30px;
    }

    button{
      font-size: 20px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .equation{
      font-size: 35px;
    }

    .result{
      font-size: 40px;
    }

    button{
      font-size: 30px;
    }
  }

  @media (min-width: 768px) {
    .equation{
      font-size: 35px;
    }

    .result{
      font-size: 40px;
    }

    button{
      font-size: 30px;
    }
  }

}
