page-calculator {
  .display{
    justify-content: center;
    align-items: center;
    background-color: map_get($colors,backgroundPurple);;
  }

  label{
    color: white;
  }

  button{
    height: 100%;
    width: 100%;
    background-color: white;
    color: gray;
  }

  .three-borders{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }

  .two-borders{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }

  .math-button button{
    background-color: pink;
    color:white
  }
  .top-border{
    border-top: 1px solid gray;;
  }

}
