page-calculator {
  .display{
    justify-content: center;
    align-items: center;
    background-color: map_get($colors,backgroundPurple);
  }

  label{
    color: white;
  }

  button{
    height: 14vh;
    width: 100%;
    background-color: white;
    color: map_get($colors,CalculatorLabels);
    font-weight: bold;
  }

  .three-borders{
    border-top: 1px solid map_get($colors,CalculatorLabels);
    border-right: 1px solid map_get($colors,CalculatorLabels);
    border-left: 1px solid map_get($colors,CalculatorLabels);
  }

  .two-borders{
    border-right: 1px solid map_get($colors,CalculatorLabels);
    border-left: 1px solid map_get($colors,CalculatorLabels);
  }

  .math-button{
    background-color: map_get($colors,CalculatorMathButton);
  }

  .math-button button{
    background-color: map_get($colors,CalculatorMathButton);
    color:white
  }
  .top-border{
    border-top: 1px solid map_get($colors,CalculatorLabels);
  }

  .math-top-border{
    border-top: 1px solid white;
  }

  .CalculatorEqualButton{
    background-color: map_get($colors,CalculatorEqualButton) !important;
  }

  .CalculatorEqualButton button{
    background-color: map_get($colors,CalculatorEqualButton) !important;
    color: white !important;
  }

  .display-division-container{
    background-color: map_get($colors,backgroundPurple);
  }

  .display-division{
    height: 1px;
    width: 100%;
    background-color: map_get($colors,CalculatorDisplayBorder);
    margin-left: 10%;
    margin-right: 10%;
  }


}
