<ion-header mode="ios">
  <ion-navbar hideBackButton>
    <button start ion-button icon-only menuToggle (click)="goBackPage()">
      <ion-icon name="icon-fill-back-arrow"></ion-icon>
    </button>
    <label class="header-title">Test / Tips y Rutas</label>
    <button end ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>

<ion-content no-bounce>
  <ion-grid class="height-100" no-padding>
    <ion-row class="section-header">
      <ion-col>
        <ion-label class="title">Ver Tips</ion-label>
        <ion-label class="description">Por favor selecciona</ion-label>
        <ion-label class="description">una categoría</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let category of tipsCategories;" (click)="showTipsPage(category.id)" [class]="category.class">
      <ion-col>
        <ion-label *ngFor="let label of category.labels">{{label}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
