page-select-test-category {

  .content {
    background-color: map_get($colors, primary);

    ion-label {
      margin: 0;
    }

    .section-header {
      flex: 1;
      align-items: center;
      text-align: center;

      .title {
        font-weight: bold;
        color: #f2f2f2;
        margin-bottom: 5px;
      }

      .description {
        font-weight: 500;
        color: #f2f2f2;
      }
    }

    [class^="option-"] {
      font-weight: bold;
      color: #f2f2f2;
      align-items: center;
      text-align: center;
      flex: 1;
    }
  }

  .option-0 {
    background-color: #d85662;
  }

  .option-1 {
    background-color: #b25279;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .option-2 {
    background-color: #8c4f91;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .option-3 {
    background-color: #664ba8;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }

  .item-container {
    margin: auto;
    display: flex;
    align-items: center;
  }

  .item-container > * {
    display: inline-block;
  }

  .labels-col {
    text-align: left;
  }

  @media (max-width: 479px) {
    .content {
      .section-header {
        .title {
          font-size: 19px;
        }

        .description {
          font-size: 13px;
        }
      }

      [class^="option-"] {
        font-size: 17px;
      }
    }

    .icon-col {
      margin-right: 34px;
      font-size: 30px;
      width: 30px;
    }

    .item-container {
      width: 210px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .content {
      .section-header {
        .title {
          font-size: 28px;
        }

        .description {
          font-size: 20px;
        }
      }

      [class^="option-"] {
        font-size: 26px;
      }
    }

    .icon-col {
      margin-right: 50px;
      font-size: 40px;
      width: 40px;
    }

    .item-container {
      width: 320px;
    }
  }

  @media (min-width: 768px) {
    .content {
      .section-header {
        .title {
          font-size: 33px;
        }

        .description {
          font-size: 24px;
        }
      }

      [class^="option-"] {
        font-size: 31px;
      }
    }

    .icon-col {
      margin-right: 62px;
      font-size: 50px;
      width: 50px;
    }

    .item-container {
      width: 390px;
    }
  }

}
