<ion-header mode="ios">
  <ion-navbar hideBackButton text-right>
    <button ion-button icon-only menuToggle (click)="goToMenuPage()">
      <ion-icon name="icon-go-menu"></ion-icon>
    </button>
    <label class="header-title">Test / Tips y Rutas</label>
  </ion-navbar>
  <div class="header-separator"></div>
</ion-header>

<ion-content no-bounce>
  <ion-grid padding *ngIf="!isTestComplete"  class="full-height-ion-grid no-padding test-view">
    <div class="test-question" padding>
      <div>
        <ion-row text-center>
          <ion-label class="test-category-title">{{categoryTitle}}</ion-label>
        </ion-row>
        <ion-row text-center>
          <ion-label class="test-counter">{{(currentQuestion + 1) + "/" + (questionsNumber+1)}}</ion-label>
        </ion-row>
        <ion-row text-center>
          <ion-label class="test-question-text" >{{questionsObject[currentQuestion].pregunta}}</ion-label>
        </ion-row>
      </div>
    </div>

    <ion-content class="test-options-container" no-padding no-bounce>
      <div class="test-options">
        <ion-row (click)="setCheckBoxArray(0)">
          <ion-checkbox mode="md" (click)="setCheckBoxArray(0)" [(ngModel)]="answerCheckBoxArray[0]" ></ion-checkbox>
          <ion-label>{{questionsObject[currentQuestion].respuesta1}}</ion-label>
        </ion-row>
        <ion-row (click)="setCheckBoxArray(1)" >
          <ion-checkbox  mode="md" (click)="setCheckBoxArray(1)" [(ngModel)]="answerCheckBoxArray[1]" ></ion-checkbox>
          <ion-label>{{questionsObject[currentQuestion].respuesta2}}</ion-label>
        </ion-row>
        <ion-row (click)="setCheckBoxArray(2)">
          <ion-checkbox  mode="md" (click)="setCheckBoxArray(2)" [(ngModel)]="answerCheckBoxArray[2]" ></ion-checkbox>
          <ion-label>{{questionsObject[currentQuestion].respuesta3}}</ion-label>
        </ion-row>
        <ion-row>
          <button [class]="buttonClass" (click)="answerCurrentQuestion()">Siguiente</button>
        </ion-row>
      </div>

    </ion-content>
  </ion-grid>


  <ion-grid *ngIf="isTestComplete" class="height-100 no-padding content-blue">
    <ion-row class="flex-1 thanks-container">
      <ion-col class="welcome-test-button-section end-test-thanks">
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>Gracias {{userName}}</p>
        </ion-row>
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>por realizar este Test</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="flex-1">
      <ion-col class="welcome-test-button-section end-test-advice">
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>{{resultTipFirstPhrase}}</p>
        </ion-row>
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>estas siendo victima de</p>
        </ion-row>
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>{{categoryTitle}} {{resultTipThirdPhrase}}</p>
        </ion-row>
        <ion-row class="flex-1 justify-center-row">
          <p no-margin>{{resultTipFourthPhrase}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="flex-1">
      <ion-col class="welcome-test-button-section ">
        <ion-row style="justify-content: center" text-center>
          <button ion-button outline color="light" (click)="goToTips()">Ver tips</button>
        </ion-row>
        <ion-row style="justify-content: center" text-center>
          <button ion-button outline color="light" (click)="goToRoutes()">Rutas de atención</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



