page-test-page {
  >ion-content {
    background-color: $headerBackgroundColor !important;
  }

  .test-header {
    ion-navbar {
      min-height: 0;
    }

    label {
      color: map_get($colors, SofiaAppWhite);
      float: right;
      margin: 14px 5px;
      font-weight: bold;
    }
  }

  .test-question {
    height: 42vh;
    width: 100%;
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
    }

    .test-category-title {
      font-style: italic;
      font-weight: 800;
      margin: 13px 0 0;
    }

    .test-counter {
      margin: 0;
    }

  }

  .test-question-text {
     margin: 20px auto 13px;
  }

  .test-options-container .scroll-content {
    padding: 0;
  }

  .test-view {
    height: 91vh;
    margin-top: 9vh;
    background-color: $headerBackgroundColor;

    * {
      color: white;
    }

    ion-label {
      white-space: pre-line;
    }
  }

  .test-options-container {
    background: map_get($colors, SofiaAppDarkBlue);
  }

  .test-options {
    height: 49vh;

    > * {
      min-height: 12vh;
      background: map_get($colors, SofiaAppDarkBlue);
      align-items: center;
      justify-content: center;
    }

    > *:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    ion-label {
      margin: 15px 0 15px 15px;
    }

    .next-question {
      border-radius: 10px;
      background: transparent;
      border: 2px solid white;
      font-size: 14px;
    }

    .unabled-button {
      color: rgba(255, 255, 255, 0.4);
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  ion-checkbox .checkbox-icon {
    min-width: 20px;
    min-height: 20px;
  }

  .end-test-thanks p{
    font-weight: bold;
  }

  @media (max-width: 479px) {
    .test-options ion-label,
    .test-header label {
      font-size: 13px;
    }

    .test-options .next-question,
    .test-question .test-counter,
    .test-question-text {
      font-size: 14px;
    }

    .test-question .test-category-title {
      font-size: 19px;
    }

    .end-test-thanks p{
      font-size: 18px;
    }

    .end-test-advice p{
      font-size: 14px;
    }

    .test-options ion-label {
      max-width: 222px;
    }

    .test-question-text {
      max-width: 269px;
    }

    .test-options .next-question {
      height: 37px;
      width: 114px;
    }

    .test-header, .test-header ion-navbar {
      height: 50px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .test-options ion-label,
    .test-header label {
      font-size: 20px;
    }

    .test-options .next-question,
    .test-question .test-counter,
    .test-question-text {
      font-size: 22px;
    }

    .test-question .test-category-title {
      font-size: 28px;
    }

    .end-test-thanks p{
      font-size: 28px;
    }

    .end-test-advice p{
      font-size: 22px;
    }

    .test-options ion-label {
      max-width: 329px;
    }

    .test-question-text {
      max-width: 406px;
    }

    .test-options .next-question {
      height: 60px;
      width: 171px;
    }

    .test-header, .test-header ion-navbar {
      height: 76px;
    }
  }

  @media (min-width: 768px) {
    .test-options ion-label,
    .test-header label {
      font-size: 24px;
    }

    .test-options .next-question,
    .test-question .test-counter,
    .test-question-text {
      font-size: 26px;
    }

    .test-question .test-category-title {
      font-size: 32px;
    }

    .end-test-thanks p{
      font-size: 33px;
    }

    .end-test-advice p{
      font-size: 26px;
    }

    .test-options ion-label {
      max-width: 394px;
    }

    .test-question-text {
      max-width: 486px;
    }

    .test-options .next-question {
      height: 67px;
      width: 207px;
    }

    .test-header, .test-header ion-navbar {
      height: 90px;
    }
  }
}
