page-map {
  ion-content {
    background: map_get($colors, backgroundPurple) !important;
  }
  .under-construction-image {
    background: url(../assets/img/img-under-construction.png) transparent no-repeat center 40% / 65% auto !important;
    height: 100%;
  }

  .scroll-content {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
