page-required-info-form {
  background-color: $backgroundPurple
}

#required-info-col ion-row{
  margin-top: 5%;
}

#required-info-register-button-container button{
  width: 100%;
  text-transform: lowercase;
  text-transform: capitalize;
}

.back-button-custom-size{
  font-size: 2.4em !important;
}
