page-required-info-form {
  ion-input{
    font-weight: bold;
  }

  button{
    font-weight: bold;
  }

  .label-row{
    margin-top: 60%;
  }

  .pin-row{
    justify-content: center;
  }

  .username-row{
    justify-content: center;

  }

  .button-row{
    margin-top: 40px;
    justify-content: center;
  }


  @media (max-width: 479px) {

    ion-input{
      height: 40px !important;
      font-size: 16px;
    }

    button{
      width: 125px !important;
      height: 40px !important;
      font-size: 16px;
    }

    .pin-row{
      margin-top: 17px;
    }

    .label-register{
      font-size: 13px;
    }

    .username-row{
      margin-top: 20px;
    }

    .input-container{
      flex-basis: 272px !important;
      max-width: 272px !important;
    }

    .button-row{
      margin-top: 40px;
    }

    .login-button{
      margin-left:20px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {

    ion-input{
      height: 60px !important;
      font-size: 22px;
    }

    button{
      width: 170px !important;
      height: 56px !important;
      font-size: 22px !important;
    }

    .pin-row{
      margin-top: 23px;
    }

    .label-register{
      font-size: 18px;
    }

    .username-row{
      margin-top: 28px;
    }

    .input-container{
      flex-basis: 370px !important;
      max-width: 370px !important;
    }

    .button-row{
      margin-top: 56px;
    }

    .login-button{
      margin-left:30px;
    }
  }

  @media (min-width: 768px) {

    ion-input{
      height: 70px !important;
      font-size: 27px;
    }

    button{
      width: 215px !important;
      height: 70px !important;
      font-size: 27px !important;
    }

    .pin-row{
      margin-top: 17px;
    }

    .label-register{
      font-size: 23px;
    }

    .username-row{
      margin-top: 36px;
    }

    .input-container{
      flex-basis: 467px !important;
      max-width: 467px !important;
    }

    .button-row{
      margin-top: 72px;
    }

    .login-button{
      margin-left:37px;
    }

    .label-row{
      margin-top: 55% !important;
    }

  }
}

#required-info-col ion-row{
  margin-top: 5%;
}

#required-info-register-button-container button{
  width: 100%;
  text-transform: lowercase;
  text-transform: capitalize;
}

.back-button-custom-size{
  font-size: 2.4em !important;
}
