@font-face {
  font-family: 'icons';
  src: url('../assets/fonts/icons/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"] {
  @extend .ion;
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
@mixin createIcon($arg, $val) {
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-circle:before,
  .ion-ios-#{$arg}-circle-outline:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-circle:before,
  .ion-md-#{$arg}-circle-outline:before,
  .ion-md-#{$arg}-outline:before {
    content: $val;
  }
}
@include createIcon(icon-pin, '\e900');
@include createIcon(icon-email, '\e901');
@include createIcon(icon-clock, '\e902');
@include createIcon(icon-phone, '\e903');
@include createIcon(icon-info, '\e904');
@include createIcon(icon-conf, '\e905');
@include createIcon(icon-map, '\e906');
@include createIcon(icon-test, '\e907');
@include createIcon(icon-download, '\e908');
@include createIcon(icon-msj, '\e909');
@include createIcon(icon-fill-back-arrow, '\e90b');
@include createIcon(icon-border-next-arrow, '\e90c');
@include createIcon(icon-fill-up-arrow, '\e90e');
@include createIcon(icon-border-up-arrow, '\e910');
@include createIcon(icon-border-down-arrow, '\e911');
@include createIcon(icon-girl, '\e912');
@include createIcon(icon-complaint-places, '\e913');
@include createIcon(icon-health-places, '\e914');
@include createIcon(icon-info-places, '\e915');
@include createIcon(icon-protection-measures, '\e916');
@include createIcon(icon-telephone, '\e917');
@include createIcon(icon-start-test, '\e919');
@include createIcon(icon-see-tips, '\e91a');
@include createIcon(icon-sofia, '\e91b');
@include createIcon(icon-border-question-mark, '\e91c');
@include createIcon(icon-fill-question-mark, '\e91d');
@include createIcon(icon-go-menu, '\e91e');
@include createIcon(icon-physical-violence, '\e91f');
@include createIcon(icon-sexual-violence, '\e920');
@include createIcon(icon-economic-violence, '\e921');
@include createIcon(icon-psychological-violence, '\e922');
@include createIcon(about-women-secretary, '\e923');
@include createIcon(about-SOFIA, '\e924');
@include createIcon(about-app, '\e925');
@include createIcon(icon-tutorial, '\e926');
